# OpenVPN 2.4.8 client.conf Template File
# OpenSSL 1.1.1  11 Sep 2018, LZO 2.08
client
dev tun
proto ${PROTOCOL}4
remote ${HOST}.${LOCATION}.cloudapp.azure.com ${PORT}
resolv-retry infinite
nobind
persist-key
persist-tun
comp-lzo
remote-cert-tls server
cipher AES-256-CBC
auth SHA512
tls-version-min 1.2
tls-cipher TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384
verb 3
key-direction 1
